/*General Body Styling*/
body {
    background-color: #F2F2F2;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    text-align: center;
    line-height: 32px;
    margin-left: 24px;
    margin-right: 24px;
}
p.body {
    font-size: 16pt;
    margin-left: 180px;
    margin-right: 180px;
    text-align: justify;
}
h1, h2 {
    font-size: 24 pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 2px;
    padding: 4px;
    border: 2px;
    border-style: solid;
    margin-left: 400px;
    margin-right: 400px;
}
.link {
    color: lightcoral;
}
/*End General Styling*/

/* Header Styling*/
.header {
    padding: 0px;
    color: #222222;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    overflow: hidden;
    height: 112px;
    border-bottom-style: solid;
    border-color: #222222;
    border-width: 1px;
}
ul.nav {
    list-style: none;
    padding: 0px;
    float: right;
    text-align: center;
  }
li.nav {
    float: left;
    padding: 16px;
}
li a {
    display: block;
    padding: 0px;
    width: 88px;
    background-color: #F2F2F2;
    text-decoration: none;
    text-align: center;
}
li#home a:hover {
    color: crimson;
    font-style: bold;
    font-size: 24px;
}
li#exhibits a:hover {
    color: mediumblue;
    font-style: bold;
    font-size: 24px;
}
li#page3 a:hover {
    color: green;
    font-style: bold;
    font-size: 24px;
}
/*End of Header Styling*/

/*Logo Styling*/
#logo {
    height: 120px;
    width: 160px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;

}
/*End of Logo Styling*/

/*Beginning of Main Content*/

/*Showcase Image*/
#showcase {
    width:960px;
    height: 692px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}
/*End Showcase Image*/

/*Header Icon Centering*/
.Icon {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
}
#spotlight {
    width: 140px;
}
#coming_soon {
    padding-top: 80px;
}
.red_border {
    border-color: crimson;
}
.yellow_border {
    border-color: gold;
}
#blue_border {
    border-color: mediumblue;
}
#green_border {
    border-color: green;
}
#red_under {
    text-decoration: underline;
    text-decoration-color: crimson;
    text-decoration-thickness: 3px;
}
#blue_under {
    text-decoration: underline;
    text-decoration-color: mediumblue;
    text-decoration-thickness: 3px;
}
#green_under {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 3px;
}
#yellow_under {
    text-decoration: underline;
    text-decoration-color: gold;
    text-decoration-thickness: 3px;
}
/*End Header Icon Centering*/

/*News Styling*/
.news {
    text-align: center;
    font-size: 16pt;
    font-style: bold;
    line-height: 48px;
    list-style: none;
}
li.news {
    padding-top: 8px;
    padding-bottom: 8px;
}
ul.news {
    margin-top: 32px;
    margin-bottom: 32px;
}
/*End of News Stylings*/

/*Footer Styling*/
.footer {
    background-color: #222222;
    color: #F2F2F2;
    height: 225px;
    padding-top: 8px;
    padding-bottom: 24px;
    clear: both;
    overflow: hidden;
    margin-top: 72px;
    font-size: 12pt;
}
.contact_info {
    text-align: left;
    width: 50%;
    float: left;
    margin: 16px;
}
#contact_head {
    text-align: left;
    margin: 0;
    color: #F2F2F2;
    padding-top: 4px;
}
#contact_phone {
    text-align: left;
    color: #F2F2F2;
    font-style:italic;
    margin: 0;
}
#table {
    width: 50%;
    float: right;
    clear: right;
    height: auto !important;
    margin: 16px;
}
th, td {
    padding: 4px;
}
small {
    text-align: left;
    color: #F2F2F2;
}
/*End of Footer Styling*/

/*Exhibit Card Styling*/
.exhibit {
    height: 440px;
    clear: both;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
}
.ex_info {
    font-size: 12 px;
    text-align: center !important;
    float: left;
    width: 50%;
    height: 440px;
    opacity: 0.75;
    display: inline;
    background-color: lightgray;
}
.ex_img {
    float: left;
    width: 50% !important;
    display: inline;
    object-fit: cover !important;
}
.ex_title {
    font-style: italic;
    font-size: 16pt;
    padding-top: 24pt;
}
.ex_detail {
    padding: 16px;
}
.artist {
    padding: 8px;
}
.date {
    padding: 12px;
}
#flowers {
    height: 440px !important;
}
#cat {
    height: 460px !important;
}
#color {
    height: 440px !important;
}
#upcoming {
    margin-bottom: 144px !important;
}
/*End of Card Styling*/